/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

.home-page {
    background-color: #ffff;
    font-family: 'Amiki', sans-serif;
    height: 100%;
    width: 100%;
    
}


/* Sección de Héroe */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw; /* Ancho total de la ventana */
    height: 100vh; /* Alto total de la ventana */
    background-color: #f9f9f9;
    justify-content: center; /* Centrar el contenido verticalmente */
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.Emojis {
    width: 40%;
    max-width: 400px;
    height: auto;
}

.hero-text {
    width: 60%;
    text-align: left;
   
}

.hero-text p {
    font-size: 1.5rem;
    color: #666;
    margin: 20px 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(48, 40, 40, 0.3);
    animation-name: slideInleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.3s;
}

.hero-text p:hover{
    transform: translate(-15px);
    background-color: var(--clr-accent);
    color: var(--clr-accent)
}

.hero-buttons .btn-primary {
    padding: 10px 20px;
    background-color: #718375;
    color: #63d57d;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(48, 40, 40, 0.3);
    animation-name: slideInleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.3s;
    border-radius: 60px;
}

.hero-buttons .btn-primary:hover {
    background-color: #218838;
    transform: translate(-15px);
    background-color: var(--clr-accent);
    color: var(--clr-accent)
}

/* Sección de Beneficios */
.benefits-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-template-rows: 1fr 1fr;    /* Dos filas */
    gap: 60px 120px; /* Más espacio entre filas (60px) y columnas (120px) */
    justify-content: center;
    align-items: center;
    padding: 60px; /* Aumentamos el padding general de la sección */
    background-color: #d6f9d0; /* Fondo verde claro */
    display: flex;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(48, 40, 40, 0.3);
    animation-name: slideInleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.3s;
}

/* Estilo para cada caja de beneficio */
.benefit {
    background-color: #e0ffe0; /* Fondo más claro para los cuadros */
    border: 2px solid #8bc34a; /* Borde verde */
    padding: 30px; /* Aumentamos el padding dentro de cada caja */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Ancho máximo de las cajas */
    margin: auto;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(48, 40, 40, 0.3);
    animation-name: slideInleft;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.7s;
    border-radius: 50px;
}
.benefit:hover{
    background-color: #218838;
    transform: translate(-15px);
    background-color: var(--clr-accent);
    color: var(--clr-accent)
}

.benefit h2 {
    color: #4a7c4a; /* Verde oscuro para los títulos */
    font-size: 1.4rem;
    margin-bottom: 15px; /* Más espacio entre título y párrafo */
}

.benefit p {
    color: #666;
    font-size: 1rem;
}

/* Para el beneficio central (Estudia a tu Ritmo), lo centramos en la cuadrícula */
.benefits-section .benefit:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / span 2; /* Ocupa dos filas */
    align-self: center; /* Centra verticalmente */
}
