/* Importa la fuente Amiko */
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&display=swap');

/* Estilos globales */
body {
  font-family: 'Mi Amiko', sans-serif;
}

/* Estilos para el encabezado */
.header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #e0e0e0; /* Línea casi gris casi blanca */
  padding: 20px 0;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  height: 50px;
  margin: 0 10px;
}

/* Estilos para la sección hero */
.hero-section {
  background-color: #fff;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  align-items: center;
}

.Emojis {
  margin-right: 20px;
}

.hero-text {
  max-width: 500px;
}

.hero-buttons {
  margin-top: 20px;
}

.btn-primary {
  background-color: #2E7D32; /* Color del logo EduLibre */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold; /* Negrita */
}

.btn-primary:hover {
  background-color: #1B5E20; /* Un tono más oscuro del color del logo */
}

/* Estilos para la sección de beneficios */
.benefits-section {
  background-color: #f4f4f4;
  padding: 50px 20px;
}

.benefit {
  margin-bottom: 20px;
}

.benefit h2 {
  color: #2E7D32;
  margin-bottom: 10px;
}

/* Estilos para el pie de página */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estilos específicos para la fuente Amiko */
.amiko-font {
  font-family: 'Amiko', sans-serif;
}
