body {
    font-family: 'Amiki', sans-serif;
  }
  
  .login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }
  
  .highlight {
    text-align: center;
    font-size: 1.5rem;
    color: #27991883;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(194, 6, 6, 0.3);
    animation-name: slideInleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .highlight:hover{
    background-color: #218838;
    transform: translate(-10px);
    background-color: var(--clr-accent);
    color: var(--clr-accent)
  }
  
  .Emojis {
    width: 80%;
    max-width: 400px;
    margin: 20px 0;
  }
  
  form {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: none; /* Oculto las etiquetas para que coincida con el diseño */
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    background-color: #b8e994; /* Verde claro para los campos */
    border: 2px solid #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    color: #333;
    border-radius: 40px;
  }
  
  .input-group input::placeholder {
    color: white;
    font-weight: bold;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; /* Verde oscuro para el botón */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(194, 6, 6, 0.3);
    animation-name: slideInleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.3s;
    border-radius: 40px;
  }
  
  .login-button:hover {
    background-color: #218838;
    transform: translate(-10px);
    background-color: var(--clr-accent);
    color: var(--clr-accent)
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #109e1083;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(194, 6, 6, 0.3);
    animation-name: slideInleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
  }
  
  .register-button {
    color: white;
    background-color: #2e7d32;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.3s;

  }
  
  .register-button:hover {
    background-color: #1b5e20;
    transform: translate(-10px);
    background-color: var(--clr-accent);
    color: var(--clr-accent)
  }
  
  /* Estilo para el botón de registro */
  .register-button {
    background-color: #2e7d32;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .register-button:hover {
    background-color: #1b5e20;
  }

  .forgot-password {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(168, 166, 166, 0.3);
    animation-name: slideInleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: background-color 0.3s;
    color: var(.4216ZM24);
    background-color: var(#4CAF50);
    border: 10px solid var(#424242);
    border-radius: 5px;
    transition: transform 0.3s;
}

.forgot-password-link {
    color: #615e5e; /* Color del hipervínculo */
    cursor: pointer;
    text-decoration: underline; /* Subrayado para indicar que es un hipervínculo */
}

.forgot-password-link:hover {
    color: #008cff27; /* Color del hipervínculo al pasar el cursor */
}
