body {
    font-family: 'Amiki', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

.metodo-page {
    text-align: center;
    padding: 20px;
}

.metodo-page h1 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.option-card {
    width: 200px;
    height: 200px;
    background-color: #b8e994; /* Verde claro */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s;
}

.option-card:hover {
    transform: scale(1.05);
}

.option-card h2 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.continue-button {
    padding: 10px 20px;
    background-color: #28a745; /* Verde oscuro para el botón */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.continue-button:hover {
    background-color: #218838;
}
